div .bikeparking-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font: small Arial;
  margin-bottom: 3px;
  padding: 2px;
  text-align: center;
  text-decoration: underline;
  width: 6em;
}

div .active {
  background-color: lightblue;
}

body {
  background-color: black;
}
#header {
  background-color: black;
  height: 5%;
  color: lightgray;
}
#searchbox {
  background-color: black;
  text-align: left;
  float: left;
}
#infoBox {
  background-color: black;
  float: right;
}
#map_canvas {
  width: 100%;
  height: 95%;
  overflow: auto;
}
