div .bikeparking-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font: small Arial;
  margin-bottom: 3px;
  padding: 2px;
  text-align: center;
  text-decoration: underline;
  width: 6em;
}

div .active {
  background-color: lightblue;
}

body {
  background-color: black;
}

#header {
  position:absolute
  font-weight: bold;
  height: 3.5em;
  color: #eee;
  font-family:sans-serif;
}
#searchbox {
  float:left;
  text-align: left;
  height: 1.5em;
}
#infoText {
  height: 1.5em;
  align:right;
  float:right;
  clear:right;
}
#progressBar {
  margin-top:0.25em;
  text-align: right;
  height: 1em;
  float:right;
  clear:right;
}
#map_canvas {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.bike {
  background-color: #D52B1E;
}
.parking {
  background-color: white;
}
.bike, .parking {
  height: 8px;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
}
input {
  border: 1px solid;
}
.button {
  border: 1px solid #D52B1E;
  background-color: #D52B1E;
  color: white;
}
